<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ComputeBnB | {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('css/favicon.ico') }}" />

        {% block stylesheets %}
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
            <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        {% endblock %}
    </head>
    <body>

        {% block menu %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('home') }}"><i class="bi bi-cpu"></i> ComputeBnB</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                                {{ render_bootstrap_menu('main') }}
                        </ul>
                    </div>
                    {% if app.user %}
                        <div class="collapse navbar-collapse" style="flex-direction: row-reverse;" id="navbarsAccountDefault">
                            <ul class="navbar-nav ml-auto">
                                {{ render_bootstrap_menu('account') }}
                            </ul>
                        </div>
                    {% else %}
                        <div class="collapse navbar-collapse" style="flex-direction: row-reverse;" id="navbarsAnonAccountDefault">
                            <ul class="navbar-nav ml-auto">
                                {{ render_bootstrap_menu('anonymous') }}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </nav>
        {% endblock %}

        {% block alerts %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                    {%if type == 'message'%} {% set type = 'info' %} {%endif%}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <p>{{ message|raw }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        <!-- Page content-->
        {% block body %}

            <div class="container body-container">
                <main>
                    {% block main %}
                    {% endblock %}
                </main>
            </div>

            {% block footer %}
                <div class="row">
                    <div class="col-md-12">
                        <footer class="py-3 mt-3 bg-dark">
                            <div class="container">
                                <p class="m-0 text-center text-white">Copyright © ComputeBNB 2021</p>
                            </div>
                        </footer>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}

        {% block scripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
